django_haystack==3.2.1
spacy==3.2.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_smkeybert==0.5.1
matplotlib==3.5.1
nltk==3.7
numpy==1.22.1
pandas==1.4.0
pdfplumber==0.6.2
Pillow==9.1.1
seaborn==0.11.2
transformers==4.13.0